*{
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}
nav{
    width: 100%;
    height: 100px;
    background-color: black;
    border-bottom: solid px rgb(25, 25, 25);
    position: fixed;
    z-index: 1000;
}
#logo{
    width: 150px;
    height: 100px;
    /* background-color: rgb(216, 165, 165); */
    float: left;
}
#name{
    width: 20%;
    height: 100%;
    /* background-color: blueviolet; */
    float: left;
}
#navsec{
    width: 50%;
    height: 100%;
    margin-left: -4%;
    /* background-color: rgb(114, 114, 167); */
    float: left;
}
#lastnav{
    width: 24%;
    height: 100%;
    /* background-color: brown; */
    float: left;
}
#main-logo{
    width: 68%;
    height: 90%;
    margin-top: 4%;
    margin-left: 16%;
}
#logo-name{
    width: 230px;
    height: 150px;
    margin: -4% 0% 0% 5%;
}
#anchor{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    top: 40%;
    margin-left: 5%;
}
#anchor:hover{
    color: rgb(205, 205, 205);
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    top: 40%;
    margin-left: 5%;

}
#anchor1{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    top: 40%;
    margin-left: 20%;

}
#anchor1:hover{
    color: rgb(205, 205, 205);
    font-family: sans-serif;
    text-decoration: none;
    position: relative;
    top: 40%;
    margin-left: 20%;
}
#button{
    width: 120px;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    /* border: solid 2px #e7623a; */
    background-color: #ffffff;
    color: #000000;
    margin-left: 40%;
    margin-top: 8%;
    text-decoration: none;
}
#button:hover{
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: solid 2px #e7623a;
    background-color: #000000;
    color: #ffffff;
    margin-left: 40%;
    margin-top: 8%;
    text-decoration: none;
}